//МИКСИНЫ
@import "mixins.scss";

//VARIABLES=====================================================================================================
$minwidth: 320px;
//VARIABLES=====================================================================================================

//CONNECTED FONTS===============================================================================================
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');
//CONNECTED FONTS===============================================================================================

//DEFAULT FONTS=================================================================================================
$fontfamily: "Lato";
//DEFAULT FONTS=================================================================================================

//RESET=========================STYLES==========================================================================
@import "null.scss";

body{

}
//RESET=========================STYLES==========================================================================

//ОБОЛОЧКА======================================================================================================
.wrapper{
	overflow: hidden;
	min-height: 100%;
}
//ОБОЛОЧКА======================================================================================================

//ОСНОВНАЯ=======================СЕТКА==========================================================================
.container{
	max-width: 1130px;
	padding: 0 15px;
	margin: 0 auto;
}
//ОСНОВНАЯ=======================СЕТКА==========================================================================

//ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ=================================================================
@import "ui.scss";
@import "header.scss";
@import "generation.scss";
@import "brands.scss";
@import "slider.scss";
@import "shop.scss";
@import "subscribe.scss";
@import "footer.scss";
//ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ=================================================================

//ОСНОВНОЙ=======================БЛОК===========================================================================
.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	@include flexbox();
	flex-direction: column;
}
.main-screen {
	flex: 1 0 100%;
	position: relative;
	&__bg {
		position: absolute;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
	}
}

.content{
	font-size: 20px;
}
//ОСНОВНОЙ=======================БЛОК===========================================================================